<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="AutomationSuite" verbose="1" parallel="false">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <!-- Petstore API Tests -->
    <test name="Bookstore Tests">
        <classes>
            <class name="ge.tbc.testautomation.tests.petstore.PetStoreTests"/>
        </classes>
    </test>

    <!-- Security API Tests -->
    <test name="Swapi Tests">
        <classes>
            <class name="ge.tbc.testautomation.tests.security.SecurityTests"/>
        </classes>
    </test>

</suite>
