<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="API Automation Suite">
    <test name="OpenLibrary Tests">
        <classes>
            <class name="ge.tbc.testautomation.tests.jolpi.DriversTests"/>
        </classes>
    </test>

    <test name="BookStore Tests">
        <classes>
            <class name="ge.tbc.testautomation.tests.bookstore.BookStoreTests"/>
        </classes>
    </test>

    <test name="PetStore Tests">
        <classes>
            <class name="ge.tbc.testautomation.tests.petstore.PetStoreTests"/>
        </classes>
    </test>

</suite>